.body {
  display: flex;
  justify-content: space-around;
  padding: 150px 100px;
  padding-bottom: 120px;
  width: 100%;
}

.body_img {
  width: 50%;
}

.body_img img {
  width: 543px;
  height: 491;
}

.body_info {
  text-align: justify;
  margin-right: 60px;
  padding: 0 40px;
}

.body_info p {
  margin-bottom: 30px;
}

.body_info h2 {
  text-transform: uppercase;
  text-align: start;
  width: 500px;
  margin-bottom: 30px;
  font-weight: bolder;
}

.body_info {
  font-size: 20px;
}

.btn_body {
  background: #d65886;
  border-radius: 15px;
  color: white;
  padding: 13px 35px;
  text-decoration: none;
  margin: 60px 0;
}

.btn_body:hover {
  color: white;
}

.cinto {
  background-color: #5dc1b9;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-bottom: 60px;
}

.cinto h3 {
  color: white;
  font-style: italic;
}

.cinto p {
  color: white;
  font-size: 20px;
}

.cinto button {
  padding: 8px 60px;
  font-weight: bolder;
  transition: all 0.2s ease-in;
}

.cinto button:hover {
  background-color: #f1ba0a;
}

@media (max-width: 1366px) {
  .cinto {
    background-color: #d65886;
    max-width: 1366px;
  }
}
