.calendar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date{
    display: flex;
}

.date p{
    font-size: 40px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.number{
    padding-left: 30px;
}

.day{
    margin-left: 30px;
}

.day p{
    font-size: 20px;
    font-weight: lighter;
}

.day p:first-of-type{
    margin-bottom: -10px;
    margin-top: 5px;
}

.event{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.event button{
    border: none;
    color: white;
    background-color: #D65886;
    font-size: 15px;
    padding: 5px 20px;
    margin-top: 20px;
}

.eventName{
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.eventName p{
    font-size: 20px;
    font-weight: lighter;
}

.events{
    transition: color 0.2s ease-in;
    border-bottom: 2px solid rgb(128, 128, 128);
}

.events:hover{
    cursor: pointer;
    color: #D65886;
}


.location{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.7s ease-in-out;
    margin-top: 10px;
    margin-left: 50px;
}

.events.active .location{
    max-height: 300px;
}

@media screen and (max-width: 1200px) {
    .date{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .day{
        margin-left: 30px;
    }

    .location{
        max-width: 400px;
        margin-top: 20px;
    }

   button{
    margin-right: 350px;

   }

   .events{
    max-width: 700px;
    margin-left: -100px;
    margin-right: -100px;
   }

}

@media screen and (max-width: 500px) {
    .date{
        display: flex;
        flex-direction: column;
        margin-left: -300px;
        align-items: center;
    }
    .linea{
        display: flex;
        flex-direction: row;
    }

    .events{
        max-width: 700px;
        margin-left: -200px;

    }

    .eventName{
        margin-left: 150px;
    }

    .location{
        max-width: 200px;
        margin-left: -150px;
        margin-top: 15px;
    }

    .event{
        display: flex;
        flex-direction: column;
        max-width: 200px;
        margin-left: 250px;

    }

    .event button{
        margin-left: 200px;
    }
}
