.afi_perfil{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px 0;
}
 
.afiliado img{
    border-radius: 50%;
    width: 250px;
    height: auto;
}

.afi_info{
    width: 40%;
    margin-left: 30px;
}

.afi_info h3{
    color: #D65886;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}

.afi_info p{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 50px;
}

.button_afi{
    padding: 12px 50px;
    background: #5DC1B9;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.button_afi:hover{
    color: white;
    background-color: #D65886;
}

.afi_tittle{
    text-align: center;
}

.afi_carrusel{
    margin: 90px 0;
} 