.footer{
  background-color: #0A2342;
}

.footer p{
  margin: 0;
}

.footer_main{
  display: flex;
  border-bottom: 2px solid #D65886;
}

.links{
  display: flex;
  flex-direction: column;
}

.tittle_footer{
  font-size: 16px;
  color: white;
  font-weight: bolder;
}

.tittle_footer a{
  transition: all 0.2s ease-in;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.tittle_footer a:hover{
  color: #F1BA0A;
}

.footer_nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  width: 70%;
  padding-bottom: 20px;
}

.social{
  margin-left: -20px;
}

.social_network{
  display: flex;
  flex-direction: row;
}

.social_network img{
  width: 22px;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}

.social_network img:first-of-type{
  margin-left: 0;
}

.text{
  color: white;
  font-weight: lighter;
  font-size: 16px;
}

.map{
  margin-right: 20px;
}

.loc_name{
  width: 180px;
  color: white;
  font-size: 12px;
}

.omd_logo{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 30%;
  margin-right: 60px;
}


.omd_logo img{
  width: 255px;
  height: auto;
}

.copy{
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 10px 10px;
}

@media (max-width: 1258px) {
  /* .footer_main{
    flex-wrap: wrap;
  } */

  .footer_nav{
    flex-wrap: wrap;
  }

  .links{
    flex-direction: column;
  }

  .social{
    margin-left: 0px;
  }

  .loc{
    margin: 0 30px;
  }

  .copy{
    width: 100%;
    display: block;
    text-align: right;
  }

  .omd_logo{
    width: auto;
    margin-right: 0px;
  }

  .map{
    margin-right: 0%;
  }
}

@media (max-width: 1178px) {
  .map{
    margin-top: 20px;
  }
}

@media (max-width: 930px) {
  .loc{
    padding-top: 20px;
  }
}

@media (max-width: 672px) {
  .contact{
    margin: 0 30px;
  }
}

@media (max-width: 663px) {
  .map{
    padding-top: 20px;
    margin: 0 30px;
  }
}

@media (max-width: 537px) {
  .social{
    margin: 0 30px;
    margin-top: 20px;
  }
  .contact{
    margin-top: 20px;
  }
}

@media (max-width: 495px) {
  .omd_logo{
    display: block;
    text-align: center;
  }

  .footer_main{
    flex-direction: column;
  }
}