.contact_form{
    width: 100%;
    height: 220px;
    background-color: #F1BA0A;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_form input{
    margin: 0 20px;
    padding: 10px;
    border: none;
    width: 299px;
}

#submit{
    margin-left: -20px;
    width: 120px;
    background-color: #D65886;
    color: white;
}

.contact_tittle{
    padding-bottom: 30px;
}