.fortalecimiento{
    display: flex;
    padding: 0 130px;
    justify-content: space-between;
    width: 100%;
}

.img_degradadov{
    display: flex;
}

.img_degradadon{
    display: none;
}

.degradado img{
    max-width: 100%;
    width: 698px;
}

.degradado{
   position: relative;

}
.nombre{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 57.14%, rgba(0, 0, 0, 0.24) 63.96%, rgba(0, 0, 0, 0.363343) 70.05%, rgba(0, 0, 0, 0.47) 79.06%, rgba(0, 0, 0, 0.56) 87.09%, #000000 98.44%);
}

.nombre p{
    color:white;
    font-style: normal;
    font-weight: 500;
    font-size: 2.3vw;
    line-height: 94.02%;
    width: 526px;
    height: 95px;
    text-transform: uppercase;
    padding-left: 5vw;
}


.fortalecimientos{
    margin-left: 20px;
}

.fortalecimientos h2{
    text-align: end;
    text-transform: uppercase;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 94.02%;
}

.fortalecimientos p{
    font-size: 2.2vw;
    text-align: end;
    
    padding: 10px 0;
    transition: all 0.2s ease-in ;
}

.fortalecimientos p:last-of-type{
    border: none;
    padding-bottom: 0;
}

.fortalecimientos p:hover{
    color: #D65886;
    cursor: pointer;
    transform: translateX(-20%);
    
}

.caja{
    border-bottom: 2px solid #BDBDBD;
}

.fortalecimiento_carrusel{
    margin: 60px 0;
}

.fortalecimiento_r{
    display: flex;
    background-color: #D65886;
    margin-bottom: 60px;

}

.fortalecimiento_i{
    background-color: #5DC1B9;
}
.fortalecimiento_imagen{
    width: 8288px;
    /* width: 16576px; */
    height: 777px;
    object-fit: cover;
}
.fortalecimiento_r img{
    /* width: 518px;
    height: 777px;
    object-fit: cover; */
}

.fortalecimiento_tittle{
    padding: 0 60px;
    padding-top: 30px;
}

.fortalecimiento_tittle h3{
    font-size: 75px;
    width: 697px;
    text-transform: uppercase;
    color: white;
    margin-top: 90px;
}

.fortalecimiento_tittle span{
    color: #F1BA0A;
}

.fortalecimiento_tittle p{
    color: white;
    font-size: 20px;
    margin-top: 80px;
}

.fortalecimientoresponsivo{
    display: none;
}

@media (max-widht:1200px) {
    .fortalecimiento img{
        width: 80%;
    }

}

@media (max-width: 770px) {
    .fortalecimiento{
        display: none;
    }

    .fortalecimientoresponsivo{
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10vw;
    }

    .fortalecimientoresponsivo h2{
        text-align: center;
        font-size: 6vw;
        margin-bottom: 20px;
    }
    .caja p:hover{
        color: #D65886;
        cursor: pointer;
        transform: translateX(20%);
    }

    .caja p{
        padding: 10px 0;
        transition: all 0.2s ease-in ;
    }

    .caja p:last-of-type{
        border: none;
        padding-bottom: 0;
    }
    .img_degradadov .caja{
        border-bottom: none;
    }
    .nombre{
        height: 100%;
        width: 100%;
        position: -webkit-sticky;
    }
    .degradado{
        margin: 10px;
        display: block;
    }
    .degradado img{
        border-radius: 15px 15px 15px 15px;
    }
}
.degradadoresponsivo{
    position: relative;
    transition: max-height 0.7s ease-in-out;
}

.nombrer{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 57.14%, rgba(0, 0, 0, 0.24) 63.96%, rgba(0, 0, 0, 0.363343) 70.05%, rgba(0, 0, 0, 0.47) 79.06%, rgba(0, 0, 0, 0.56) 87.09%, #000000 98.44%);

}


.nombrer p{
    color:white;
    font-style: normal;
    font-weight: 500;
    font-size: 2.3vw;
    line-height: 94.02%;
    width: 100%;
    height: auto;
    text-transform: uppercase;
    padding-left: 5vw;
}

@media (max-width: 1283px) {
    .fortalecimiento_tittle {
        padding: 0 20px;
    }
}

@media (max-width: 1159px) {
    .fortalecimiento_tittle h3 {
        width: auto;
    }
}

/* movil */
@media (max-width: 1055px) {
    .fortalecimiento_r {
        flex-direction: column;
    }

    .fortalecimiento_imagen{
        width: auto;
    }

    .fortalecimiento_tittle h3{
        margin-top: 20px;
    }

    .fortalecimiento_tittle p{
        margin-top: 20px;
    }
}

@media (max-width: 683px){
    .fortalecimiento_tittle h3{
        font-size: 70px;
    }
}

@media (max-width: 647px) {
    .fortalecimiento_tittle h3 {
        font-size: 60px;
    }
    .fortalecimiento_imagen{
        height: 600px;
    }
}

@media (max-width: 563px) {
    .fortalecimiento_tittle h3 {
        font-size: 50px;
    }
}

@media (max-width: 467px) {
    .fortalecimiento_tittle h3 {
        font-size: 40px;
    }
    .fortalecimiento_imagen {
        height: 400px;
    }
}

@media (max-width: 379px) {
    .fortalecimiento_tittle h3 {
        font-size: 35px;
    }
}

@media (max-width: 331px) {
    .fortalecimiento_tittle h3 {
        font-size: 30px;
    }

}

@media (max-width: 291px) {
    .fortalecimiento_tittle h3 {
        font-size: 25px;
    }

}

