.nav_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 3px solid black;
}

.nav_img img {
  width: 94px;
  height: auto;
  margin-left: 30px;
}

.links_nav {
  display: flex;
  gap: 30px;
  height: 70px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.links {
  margin: 0 30px;
}

.link_nav {
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  transition: all 0.2s ease-in;
  font-weight: bolder;
  text-transform: uppercase;
}

.link_img {
  width: 64px;
  height: auto;
  margin: 0;
}

.link_nav:hover {
  color: #f1ba0a;
}

.links_nav li {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

.links_navv li {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

.links_navv {
  display: flex;
  gap: 30px;
  height: 70px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.link_nav .active {
  color: #f1ba0a;
  text-decoration: underline;
}

.link_ {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.link_:hover {
  color: #f1ba0a;
}

@media (max-width: 768px) {
  .links_navv {
    display: none;
  }

  .links_nav {
    flex-flow: column nowrap;
    opacity: 0.9;
  }
  .link_ {
    color: rgb(0, 0, 0);
  }
}

@media (min-width: 768px) {
  .Burguer {
    display: none;
  }
}
.Hamburguesa {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 20;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}

.Hamburguesa div {
  width: 2rem;
  height: 0.25rem;
  background-color: black;
}

.offcanvas {
  max-width: 80%;
  height: auto;
}
.offcanvas-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.me-2 {
  background-color: transparent;
  border: none;
}

.me-2 img {
  width: 30px;
}

.me-2:hover {
  background-color: #8f8f8f8b;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #8f8f8f8b;
  --bs-btn-border-color: #8f8f8f8b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8f8f8f8b;
  --bs-btn-hover-border-color: #8f8f8f8b;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8f8f8f8b;
  --bs-btn-active-border-color: #8f8f8f8b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #8f8f8f8b;
  --bs-btn-disabled-border-color: #8f8f8f8b;
}

.imgLogoO {
  justify-content: center;
  align-items: center;
  width: 100px;
  height: auto;
}
